@page
@model ServiceHost.Pages.AccessDeniedModel
@{
    ViewData["Title"] = "محدودیت دسترسی";
}
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<div class="text-center">
    <p class="alert alert-danger">دسترسی شما به این صفحه محدود شده است</p>
    <a class="btn btn-primary" asp-page="./Index">بازگشت به خانه</a>
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />