@page
@model ServiceHost.Pages.AccountModel
@{
    ViewData["Title"] = "ثبت نام - ورود";
}


<div class="breadcrumb-area section-space--half">
    <div class="container wide">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-wrapper breadcrumb-bg">
                    <div class="breadcrumb-content">
                        <h2 class="breadcrumb-content__title">ثبت نام - ورود</h2>
                        <ul class="breadcrumb-content__page-map">
                            <li><a asp-page="/Index">خانه</a></li>
                            <li class="active">ثبت نام - ورود</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="page-content-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-wrapper">
                    <div class="page-content-wrapper">
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-xs-12 col-lg-6">
                                @if (!string.IsNullOrWhiteSpace(Model.Message))
                                {
                                    <div class="alert alert-danger m-2">@Model.Message</div>
                                }
                                <form method="post" asp-page-handler="Login">
                                    <div class="login-form">
                                        <h4 class="login-title">ورود</h4>
                                        <div class="row">
                                            <div class="col-md-12 col-12">
                                                <label>نام کاربری</label>
                                                <input type="text" name="username" placeholder="نام کاربری">
                                            </div>
                                            <div class="col-12">
                                                <label>رمز عبور</label>
                                                <input type="password" name="password" placeholder="رمز عبور">
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="check-box d-inline-block ml-0 ml-md-2">
                                                    <input type="checkbox" id="remember_me">
                                                    <label for="remember_me">مرا به خاطر بسپار</label>
                                                </div>
                                            </div>

                                            <div class="col-sm-6 text-left text-sm-right">
                                                <a href="#" class="forget-pass-link"> رمز عبور را فراموش کردید؟</a>
                                            </div>

                                            <div class="col-md-12">
                                                <button class="register-button">ورود</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-6 col-xs-12">
                                @if (!string.IsNullOrWhiteSpace(Model.RegisterMessage))
                                {
                                    <div class="alert alert-danger m-2">@Model.RegisterMessage</div>
                                }
                                <form method="post" asp-page-handler="Register">
                                    <div class="login-form">
                                        <h4 class="login-title">ثبت نام</h4>
                                        <div class="row">
                                            <div class="col-md-6 col-12 mb-20">
                                                <label>نام و نام خانوادگی</label>
                                                <input type="text" name="fullname" placeholder="نام و نام خانوادگی">
                                            </div>
                                            <div class="col-md-6 col-12 mb-20">
                                                <label>نام کاربری</label>
                                                <input type="text" name="username" placeholder="نام کاربری">
                                            </div>
                                            <div class="col-md-12 mb-20">
                                                <label>موبایل</label>
                                                <input type="tel" name="mobile" placeholder="موبایل">
                                            </div>
                                            <div class="col-md-6 mb-20">
                                                <label>رمز عبور</label>
                                                <input type="password" name="password" placeholder="رمز عبور">
                                            </div>
                                            <div class="col-md-6 mb-20">
                                                <label>تکرار رمزعبور</label>
                                                <input type="password" name="repassword" placeholder="تکرار رمزعبور">
                                            </div>
                                            <div class="col-12">
                                                <button class="register-button mt-0">ثبت نام</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>